In [3]:
%load_ext sql

# EASY PROBLEMS

### PROBLEM: Employees' Without Annual Review
Return all employees who have never had an annual review. Your output should include the employee's first name, last name, hiring date, and termination date. List the most recently hired employees first.

Tables: `uber_employees`, `uber_annual_review`

`uber_employees`    | dtypes
--------------------|---------
first_name          | varchar
last_name           | varchar
id                  | int
hire_date           | datetime
termination_date    | datetime
salary              | int

<br/>

`uber_annual_review`| dtypes
--------------------|---------
id                  | int
emp_id              | int
review_date         | datetime

[Link to problem](https://platform.stratascratch.com/coding/2043-employees-without-annual-review)

In [ ]:
%%sql
SELECT DISTINCT e.first_name, e.last_name, e.hire_date, e.termination_date, a.review_date
FROM uber_employees e LEFT JOIN uber_annual_review a
ON e.id = a.emp_id
WHERE a.review_date IS NULL
ORDER BY e.hire_date DESC;

In [ ]:
# Import your libraries
import pandas as pd

#Remove duplicate reviews except latest review
uber_annual_review = uber_annual_review[~uber_annual_review['emp_id'].duplicated(keep='last')]
#Rename id column
uber_annual_review.rename(columns={'id': 'review_id', 'emp_id': 'emp_id', 'review_date': 'review_date'})
#Merge dataframes
df = uber_employees.merge(uber_annual_review, how='outer',left_on='id', right_on='emp_id')
#Get rows where review_date does not exist
df = df[df['review_date'].isna()]
#Sort rows by output
df.sort_values(by=['hire_date'], ascending=False, inplace=True)

### PROBLEM: Find all records with words that start with the letter 'g'
Find all records with words that start with the letter 'g'.   
Output words1 and words2 if any of them satisfies the condition.

Tables: `google_word_lists`

`google_word_lists` | dtypes
--------------------|---------
id                  | int
emp_id              | int

[Link to problem](https://platform.stratascratch.com/coding/9806-find-all-records-with-words-that-start-with-the-letter-g)

In [ ]:
%%sql
SELECT *
FROM google_word_lists
WHERE words1 LIKE 'g%' OR words2 LIKE 'g%' OR words1 LIKE '%,g%' OR words2 LIKE '%,g%';

In [ ]:
# Import your libraries
import pandas as pd
import regex as re

# Concatenate words lists with comma delimiter to create combined word list
df = (google_word_lists['words1'] + ',' + google_word_lists['words2']).to_frame(name='words')
# Check for words that contain the character 'g' following the start of a string or a comma
df = google_word_lists[df['words'].str.contains('(^|,)g', flags=re.IGNORECASE)]

### PROBLEM: Customer Details
Find the details of each customer regardless of whether the customer made an order. Output the customer's first name, last name, and the city along with the order details.
You may have duplicate rows in your results due to a customer ordering several of the same items. Sort records based on the customer's first name and the order details in ascending order.

Tables: `customers`, `orders`

`customers`         | dtypes
--------------------|---------
id                  | int
first_name          | varchar
last_name           | varchar
city                | varchar
address             | varchar
phone_number        | varchar

<br/>

`orders`            | dtypes
--------------------|---------
id                  | int
cust_id             | int
order_date          | datetime
order_details       | varchar
salary              | int

[Link to problem](https://platform.stratascratch.com/coding/9891-customer-details)

In [ ]:
%%sql
SELECT c.first_name, c.last_name, c.city, o.order_details
FROM customers c LEFT JOIN orders o
ON c.id = o.cust_id
ORDER BY c.first_name, o.order_details;

In [ ]:
# Import your libraries
import pandas as pd

#Merge orders and customers DataFrames
df = orders.merge(customers, how='outer', left_on='cust_id', right_on='id')
#Get desired columns
output = df.filter(['first_name', 'last_name', 'city', 'order_details'])
#Sort by values in ascending order
output.sort_values(['first_name', 'order_details'])

### PROBLEM: Salaries Differences
Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.

Tables: `db_employee`, `db_dept`

`db_employee`       | dtypes
--------------------|---------
id                  | int
first_name          | varchar
last_name           | varchar
salary              | int
department_id       | int
email               | datetime

<br/>

`db_dept`           | dtypes
--------------------|---------
id                  | int
department          | varchar

[Link to problem](https://platform.stratascratch.com/coding/10308-salaries-differences)

In [ ]:
%%sql
SELECT ABS(e.eng_salary - m.mar_salary) AS "absolute_difference"
FROM
    (SELECT MAX(salary) AS eng_salary
     FROM db_employee e LEFT JOIN db_dept d
     ON e.department_id = d.id
     WHERE d.department = 'engineering') AS e,
    (SELECT MAX(salary) AS mar_salary
     FROM db_employee e LEFT JOIN db_dept d
     ON e.department_id = d.id
     WHERE d.department = 'marketing') AS m;

In [ ]:
# Import your libraries
import pandas as pd

#Get and store department IDs
eng_dept_id = db_dept[db_dept['department']=='engineering']['id'].values[0]
mar_dept_id = db_dept[db_dept['department']=='marketing']['id'].values[0]
#Get list of employees who belong to each department
df_eng = db_employee[db_employee['department_id'] == eng_dept_id]
df_mar = db_employee[db_employee['department_id'] == mar_dept_id]
#Find max salary in each department
max_eng = df_eng['salary'].max()
max_mar = df_mar['salary'].max()
#Create output dataframe
output = pd.DataFrame(columns=['salary_difference'])
output.loc[0] = abs(max_eng - max_mar)

### PROBLEM: Find all companies with more than 10 employees
Find all companies with more than 10 employees. Output all columns.

Tables: `google_adwords_earnings`

`google_adwords_earnings`   | dtypes
----------------------------|---------
business_type               | varchar
n_employees                 | int
year                        | int
adwords_earnings            | int

[Link to problem](https://platform.stratascratch.com/coding/9807-find-all-companies-with-more-than-10-employees)

In [ ]:
%%sql
SELECT *
FROM google_adwords_earnings
WHERE n_employees > 10;

In [ ]:
# Import your libraries
import pandas as pd

output = google_adwords_earnings[google_adwords_earnings['n_employees']>10]

### PROBLEM: Finding Updated Records
We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

Tables: `ms_employee_salary`

`ms_employee_salary`   | dtypes
-----------------------|---------
id                     | int
first_name             | varchar
last_name              | varchar
salary                 | int
department_id          | int

[Link to problem](https://platform.stratascratch.com/coding/10299-finding-updated-records)

In [ ]:
%%sql
SELECT id, first_name, last_name, department_id, MAX(salary)
FROM ms_employee_salary
GROUP BY id, first_name, last_name, department_id
ORDER BY id;

In [ ]:
# Import your libraries
import pandas as pd

#Sort by descending salary, ignoring index
ms_employee_salary = ms_employee_salary.sort_values(by='salary', ignore_index=True, ascending=False)
#Keep highest salary values for duplicated records
df = ms_employee_salary[~ms_employee_salary['id'].duplicated(keep='first')]
#Resort by id
df.sort_values('id')

### PROBLEM: Average Salaries
Compare each employee's salary with the average salary of the corresponding department.
Output the department, first name, and salary of employees along with the average salary of that department.

Tables: `employee`

`employee`              | dtypes
------------------------|---------
id                      | int
first_name              | varchar
last_name               | varchar
age                     | int
sex                     | varchar
employee_title          | varchar
department              | varchar
salary                  | int
target                  | int
bonus                   | int
email                   | varchar
city                    | varchar
address                 | varchar
manager_id              | int

[Link to problem](https://platform.stratascratch.com/coding/9917-average-salaries)

In [ ]:
SELECT department, first_name, salary, AVG(SALARY) OVER(PARTITION BY department) as "Average Salary"
FROM employee

In [ ]:
# Import your libraries
import pandas as pd

#Calculate the mean of each department, add as new column
employee['avg salary'] = employee.groupby('department')['salary'].transform('mean')
#Get desired columns and sort by department for aesthetics
employee.filter(['department', 'first_name', 'salary', 'avg salary']).sort_values('department')

### PROBLEM: Order Details
Find order details made by Jill and Eva.
Consider the Jill and Eva as first names of customers.
Output the order date, details and cost along with the first name.
Order records based on the customer id in ascending order.

Tables: `customers`, `orders`

`customers`         | dtypes
--------------------|---------
id                  | int
first_name          | varchar
last_name           | varchar
city                | varchar
address             | varchar
phone_number        | varchar

<br/>

`orders`            | dtypes
--------------------|---------
id                  | int
cust_id             | int
order_date          | datetime
order_details       | varchar
salary              | int

[Link to problem](https://platform.stratascratch.com/coding/9913-order-details)

In [ ]:
%%sql
SELECT c.first_name, o.order_date, o.order_details, o.total_order_cost
FROM customers c RIGHT JOIN orders o
ON c.id = o.cust_id
WHERE c.first_name LIKE '%Eva%' OR c.first_name LIKE '%Jill%';

In [ ]:
# Import your libraries
import pandas as pd

#Merge orders and customers DataFrames
df = orders.merge(customers, how='right', left_on='cust_id', right_on='id')
#Get desired columns
df = df.filter(['first_name', 'order_date', 'order_details', 'total_order_cost'])
#Get orders where first name is 'Jill'
df1 = df[df['first_name'] == 'Jill']
#Get orders where first name is 'Eva'
df2 = df[df['first_name'] == 'Eva']
#Concatenate DataFrames to get where first name is 'Jill' or 'Eva'
output = pd.concat([df1, df2])

### PROBLEM: Total Cost Of Orders
Find the total cost of each customer's orders. Output customer's id, first name, and the total order cost. Order records by customer's first name alphabetically.

Tables: `table1`, `table2`

Tables: `customers`, `orders`

`customers`         | dtypes
--------------------|---------
id                  | int
first_name          | varchar
last_name           | varchar
city                | varchar
address             | varchar
phone_number        | varchar

<br/>

`orders`            | dtypes
--------------------|---------
id                  | int
cust_id             | int
order_date          | datetime
order_details       | varchar
salary              | int

[Link to problem](https://platform.stratascratch.com/coding/10183-total-cost-of-orders)

In [ ]:
%%sql
SELECT DISTINCT c.id, c.first_name, SUM(o.total_order_cost) OVER(PARTITION BY c.first_name) AS "Total Order Cost"
FROM customers c LEFT JOIN orders o
ON c.id = o.cust_id
ORDER BY c.first_name;

In [ ]:
# Import your libraries
import pandas as pd

#Create new column in 'customers' for order total, initialize all values to be 0
customers['order_total'] = 0
for index, row in customers.iterrows(): #Iterate through customers
    customer_id = row[0] #Get customer id
    df = orders[orders['cust_id'] == customer_id] #Filter orders by specific customer id
    customers['order_total'].iloc[index] = df['total_order_cost'].sum() #Sum order totals for specific customer id
output=customers.filter(['id', 'first_name', 'order_total']) #Get desired columns
output.sort_values('first_name') #Sort by first name ascending

### PROBLEM: Salary by Education
Given the education levels and salaries of a group of individuals, find what is the average salary for each level of education.

Tables: `google_salaries`

`table1`                | dtypes
------------------------|---------
id                      | int
first_name              | varchar
last_name               | varchar
department              | varchar
education               | varchar
salary                  | int

[Link to problem](https://platform.stratascratch.com/coding/2100-salary-by-education)

In [ ]:
%%sql
SELECT education, AVG(salary) AS "avg_salary"
FROM google_salaries
GROUP BY education
ORDER BY AVG(salary)

In [ ]:
# Import your libraries
import pandas as pd

#Group by education, aggregate using mean and reset index
output = google_salaries.groupby('education')['salary'].mean().reset_index()
#Sort by salaries ascending
output.sort_values('salary')

### PROBLEM: Customer Average Orders
How many customers placed an order and what is the average order amount?

Tables: `postmates_orders`

`postmates_orders`      | dtypes
------------------------|---------
id                      | int
customer_id             | int
courier_id              | int
seller_id               | int
order_timestamp_utc     | datetime
amount                  | float
city_id                 | int

[Link to problem](https://platform.stratascratch.com/coding/2013-customer-average-orders)

In [ ]:
%%sql
SELECT COUNT(DISTINCT customer_id) AS "Number of Customers", AVG(amount) AS "Average Order Amount"
FROM postmates_orders;

In [ ]:
# Import your libraries
import pandas as pd

#Create empty DataFrame
output = pd.DataFrame()
#Get number of unique customer IDs, add to 'Number of Customers' column
output['Number of Customers'] = [postmates_orders['customer_id'].unique().size]
#Get mean of order amount, add to 'Average Order Amount' column
output['Average Order Amount'] = [postmates_orders['amount'].mean()]

# MEDIUM PROBLEMS

### PROBLEM: Highest Salary In Department
Find the employee with the highest salary per department.
Output the department name, employee's first name along with the corresponding salary.

Tables: `employee`

`employee`      | dtypes
----------------|---------
id              | int
first_name      | varchar
last_name       | varchar
age             | int
sex             | varchar
employee_title  | varchar
department      | varchar
salary          | int
target          | int
bonus           | int
email           | varchar
city            | varchar
address         | varchar
manager_id      | int

[Link to problem](https://platform.stratascratch.com/coding/9897-highest-salary-in-department)

In [ ]:
%%sql
SELECT first_name, department, salary
FROM employee
WHERE salary IN (SELECT MAX(salary)
                FROM employee
                GROUP BY department)

In [ ]:
# Import your libraries
import pandas as pd

#Create empty list to store indices of desired rows
rows = []
for dept in employee['department'].unique(): #Iterate through unique departments
    df = employee[employee['department'] == dept] #Filter by employees of that department
    rows.append(df['salary'].idxmax()) #Get and store index of highest salary employee
output = employee.filter(['first_name', 'department', 'salary']) #Get desired columns
output = output.iloc[rows] #Filter by indexed rows

### PROBLEM: Employee and Manager Salaries
Find employees who are earning more than their managers. Output the employee's first name along with the corresponding salary.

Tables: `employee`

`employee`      | dtypes
----------------|---------
id              | int
first_name      | varchar
last_name       | varchar
age             | int
sex             | varchar
employee_title  | varchar
department      | varchar
salary          | int
target          | int
bonus           | int
email           | varchar
city            | varchar
address         | varchar
manager_id      | int

[Link to problem](https://platform.stratascratch.com/coding/9894-employee-and-manager-salaries)

In [ ]:
%%sql
SELECT e1.first_name, e1.salary
FROM employee e1
WHERE e1.salary > (SELECT salary
                FROM employee e2
                WHERE e1.manager_id = e2.id)

In [ ]:
# Import your libraries
import pandas as pd

#Add manager salary through merge
df = employee.merge(employee.filter(['id', 'salary']), how='left', left_on='manager_id', right_on='id').drop(['id_y'], axis=1)
#Get desired columns
df = df.filter(['first_name', 'id_x', 'salary_x', 'salary_y'])
#Find entries where salary is greater than manager salary
df = df[df['salary_x'] > df['salary_y']]

### PROBLEM: Top Cool Votes
Find the review_text that received the highest number of  'cool' votes.
Output the business name along with the review text with the highest numbef of 'cool' votes.

Tables: `yelp_reviews`

`yelp_reviews`      | dtypes
--------------------|---------
business_name       | varchar
review_id           | varchar
user_id             | varchar
stars               | varchar
review_date         | datetime
review_text         | varchar
funny               | int
useful              | int
cool                | int

[Link to problem](https://platform.stratascratch.com/coding/10060-top-cool-votes)

In [ ]:
%%sql
SELECT business_name, review_text
FROM yelp_reviews
WHERE cool = (SELECT MAX(cool) FROM yelp_reviews);

In [ ]:
# Import your libraries
import pandas as pd

#Rename DataFrame
df = yelp_reviews.copy()
#Find row(s) where cool is maximum
df = df[df['cool'] == df['cool'].max()]
#Filter desired columns
df.filter(['business_name', 'review_text'])

### PROBLEM: Customer Revenue In March
Calculate the total revenue from each customer in March 2019. Include only customers who were active in March 2019. 

Output the revenue along with the customer id and sort the results based on the revenue in descending order.

Tables: `orders`

`orders`        | dtypes
----------------|---------
id              | int
cust_id         | int
order_date      | datetime
order_details   | varchar
total_order_cost| int

[Link to problem](https://platform.stratascratch.com/coding/9782-customer-revenue-in-march)

In [ ]:
%%sql
SELECT cust_id, SUM(total_order_cost) AS revenue
FROM orders
WHERE DATE_PART('year', order_date) = 2019 AND DATE_PART('month', order_date) = 3
GROUP BY cust_id;

In [ ]:
# Import your libraries
import pandas as pd

#Filter DataFrame by date to March 2019
orders = orders[orders['order_date'].dt.year == 2019]
orders = orders[orders['order_date'].dt.month == 3]
#Group by id, sum order totals and drop id
orders.groupby('cust_id', as_index = False).sum().drop(['id'], axis=1)

### PROBLEM: Workers With The Highest Salaries
Find the titles of workers that earn the highest salary. Output the highest-paid title or multiple titles that share the highest salary.

Tables: `worker`, `title`

`worker`        | dtypes
----------------|---------
worker_id       | int
first_name      | varchar
last_name       | varchar
salary          | int
joining_date    | datetime
department      | varchar

<br/>

`title  `       | dtypes
----------------|---------
worker_ref_id   | int
worker_title    | varchar
affected_from   | datetime

[Link to problem](https://platform.stratascratch.com/coding/10353-workers-with-the-highest-salaries)

In [ ]:
%%sql
SELECT DISTINCT t.worker_title, w.salary
FROM worker w LEFT JOIN title t
ON w.worker_id = t.worker_ref_id
WHERE w.salary = (SELECT MAX(salary) FROM worker);

In [ ]:
# Import your libraries
import pandas as pd

# Merge DataFrames
df = worker.merge(title, how='left', left_on='worker_id', right_on='worker_ref_id')
# Group by title and find maximum value for each title
df = df.groupby('worker_title', as_index=False)['salary'].max()
# Find titles where salary is highest salary
output = df[df['salary'] == df['salary'].values.max()]

### PROBLEM: Find the top 10 ranked songs in 2010
What were the top 10 ranked songs in 2010? 
Output the rank, group name, and song name but do not show the same song twice.
Sort the result based on the year_rank in ascending order.

Tables: `billboard_top_100_year_end`

`billboard_top_100_year_end`    | dtypes
--------------------------------|---------
id                              | int
year                            | int
year_rank                       | int
group_name                      | varchar
artist                          | varchar
song_name                       | varchar

[Link to problem](https://platform.stratascratch.com/coding/9650-find-the-top-10-ranked-songs-in-2010)

In [ ]:
%%sql
SELECT DISTINCT year, year_rank, group_name, song_name
FROM billboard_top_100_year_end
WHERE year = 2010 AND year_rank <= 10;

In [ ]:
# Import your libraries
import pandas as pd

# Copy DataFrame
df = billboard_top_100_year_end.copy()
# Filter by records where year is 2010
df = df[df['year'] == 2010]
# Filter by records that are top 10 ranked
df = df[df['year_rank'] <= 10]
# Remove duplicated song names
df = df[~df['song_name'].duplicated(keep='first')]
# Get desired columns
df = df.filter(['year_rank', 'group_name', 'song_name'])
#Sort values
df = df.sort_values(['year_rank'])

### PROBLEM: Top Businesses With Most Reviews
Find the top 5 businesses with most reviews. Assume that each row has a unique business_id such that the total reviews for each business is listed on each row. Output the business name along with the total number of reviews and order your results by the total reviews in descending order.

Tables: `yelp_business`

`yelp_business` | dtypes
----------------|---------
business_id     | varchar
name            | varchar
neighborhood    | varchar
address         | varchar
city            | varchar
state           | varchar
postal_code     | varchar
latitude        | float
longitude       | float
stars           | float
review_count    | int
is_open         | int
categories:     | varchar

[Link to problem](https://platform.stratascratch.com/coding/10048-top-businesses-with-most-reviews)

In [ ]:
%%sql
SELECT name, review_count
FROM yelp_business
ORDER BY review_count DESC
LIMIT 5;

In [ ]:
# Import your libraries
import pandas as pd

# Get desired columns
df = yelp_business.filter(['name', 'review_count'])
# Sort by review count descending
df = df.sort_values('review_count', ascending=False)
# Get top 5
df = df.head()

### PROBLEM: Highest Target Under Manager
Find the highest target achieved by the employee or employees who works under the manager id 13. Output the first name of the employee and target achieved. The solution should show the highest target achieved under manager_id=13 and which employee(s) achieved it.

Tables: `salesforce_employees`

`salesforce_employees`  | dtypes
------------------------|---------
id                      | int
first_name              | varchar
last_name               | varchar
age                     | int
sex                     | varchar
employee_title          | varchar
department              | varchar
salary                  | int
target                  | int
bonus                   | int
email                   | varchar
city                    | varchar
address                 | varchar
manager_id              | int

[Link to problem](https://platform.stratascratch.com/coding/9905-highest-target-under-manager)

In [ ]:
%%sql
SELECT first_name, target 
FROM salesforce_employees
WHERE manager_id = 13 AND target = (SELECT MAX(target)
                                    FROM salesforce_employees
                                    WHERE manager_id = 13);

In [ ]:
# Import your libraries
import pandas as pd

# Make copy of DataFrame with only desired/useful columns
df = salesforce_employees.filter(['first_name', 'target', 'manager_id'])
# Filter by employees with manager id of 13
df = df[df['manager_id'] == 13]
# Filter by highest target employee(s)
df = df[df['target'] == df['target'].max()].drop('manager_id', axis=1)

### PROBLEM: Number of violations
You're given a dataset of health inspections. Count the number of violation in an inspection in 'Roxanne Cafe' for each year. If an inspection resulted in a violation, there will be a value in the 'violation_id' column. Output the number of violations by year in ascending order.

Tables: `sf_restaurant_health_violations`

`sf_restaurant_health_violations`   | dtypes
------------------------------------|---------
business_id                         | int
business_name                       | varchar
business_address                    | varchar
business_city                       | varchar
business_state                      | varchar
business_postal_code                | float
business_latitude                   | float
business_longitude                  | float
business_location                   | varchar
business_phone_number               | float
inspection_id                       | varchar
inspection_date                     | varchar
inspection_score                    | float
inspection_type                     | varchar
violation_id                        | varchar
violation_description               | varchar
risk_category                       | varchar

[Link to problem](https://platform.stratascratch.com/coding/9728-inspections-that-resulted-in-violations)

In [ ]:
%%sql
SELECT YEAR(inspection_date), COUNT(violation_id)
FROM sf_restaurant_health_violations
WHERE business_name = 'Roxanne Cafe'
GROUP BY YEAR(inspection_date)
ORDER BY YEAR(inspection_date);

In [ ]:
# Import your libraries
import pandas as pd

# Filter by violations at Roxanne Cafe
df = sf_restaurant_health_violations[sf_restaurant_health_violations['business_name'] == 'Roxanne Cafe']
# Create column for year of inspection
df['year'] = df['inspection_date'].dt.year
# Group by year and count number of violations
df = df.groupby('year', as_index=False)['inspection_id'].count()
# Sort by year ascending
df.sort_values('year')

### PROBLEM: Income By Title and Gender
Find the average total compensation based on employee titles and gender. Total compensation is calculated by adding both the salary and bonus of each employee. However, not every employee receives a bonus so disregard employees without bonuses in your calculation. Employee can receive more than one bonus.
Output the employee title, gender (i.e., sex), along with the average total compensation.

Tables: `sf_employee`, `sf_bonus`

`sf_employee`   | dtypes
----------------|---------
id              | int
first_name      | varchar
last_name       | varchar
age             | int
sex             | varchar
employee_title  | varchar
department      | varchar
salary          | int
target          | int
email           | varchar
city            | varchar
address         | varchar
manager_id      | int

<br/>

`sf_bonus`      | dtypes
----------------|---------
worker_ref_id   | int
bonus           | int
bonus_date      | datetime

[Link to problem]()

In [ ]:
%%sql
SELECT temp.sex, temp.employee_title, AVG(temp.compensation) AS average_compensation
FROM (SELECT e.id, e.employee_title, e.sex, e.salary + SUM(b.bonus) AS compensation
    FROM sf_bonus b INNER JOIN sf_employee e
    ON b.worker_ref_id = e.id
    GROUP BY e.id) temp
GROUP BY temp.sex, temp.employee_title
ORDER BY AVG(temp.compensation);

In [ ]:
# Import your libraries
import pandas as pd

# Group by ID to find total bonus for each employee
bonuses = sf_bonus.groupby('worker_ref_id', as_index=False)['bonus'].sum()
# Merge DataFrames using left join for consistency
df = bonuses.merge(sf_employee, how='inner', left_on='worker_ref_id', right_on='id')
# Create new column for total compensation
df['compensation'] = df['bonus'] + df['salary']
# Get desired columns
df = df.filter(['compensation', 'sex', 'employee_title'])
# Group by title and gender, average compensation
output = df.groupby(['employee_title', 'sex'], as_index=False)['compensation'].mean()

### PROBLEM: Largest Olympics
Find the Olympics with the highest number of athletes. The Olympics game is a combination of the year and the season, and is found in the 'games' column. Output the Olympics along with the corresponding number of athletes.

Tables: `olympics_athletes_events`

`olympics_athletes_events`  | dtypes
----------------------------|---------
id                          | int
name                        | varchar
sex                         | varchar
age                         | float
height                      | float
weight                      | datetime (Error?)
team                        | varchar
noc                         | varchar
games                       | varchar
year                        | int
season                      | varchar
city                        | varchar
sport                       | varchar
event                       | varchar
medal                       | varchar

[Link to problem](https://platform.stratascratch.com/coding/9942-largest-olympics)

In [ ]:
%%sql
SELECT games, COUNT(DISTINCT id)
FROM olympics_athletes_events
GROUP BY games
ORDER BY COUNT(id) DESC
LIMIT 1;

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
df = olympics_athletes_events.grsoupby('games')['id'].nunique().reset_index().sort_values('id', ascending=False).head(1)

# HARD PROBLEMS

### PROBLEM: Viewers Turned Streamers
From users who had their first session as a viewer, how many streamer sessions have they had? Return the user id and number of sessions in descending order. In case there are users with the same number of sessions, order them by ascending user id.

Tables: `table1`

`twitch_sessions`   | dtypes
--------------------|---------
user_id             | int
session_start       | datetime
session_end         | datetime
session_id          | int
session_type        | varchar

[Link to problem](https://platform.stratascratch.com/coding/2012-viewers-turned-streamers)

In [ ]:
%%sql
SELECT user_id, COUNT(session_id)
FROM twitch_sessions
WHERE user_id IN (SELECT user_id
                FROM (SELECT user_id,
                            session_type,
                            RANK() OVER(PARTITION BY user_id ORDER BY session_start) AS "stream_rank"
                    FROM twitch_sessions) a
                WHERE stream_rank = 1 AND session_type = 'viewer')
GROUP BY user_id
ORDER BY user_id;

In [ ]:
# Import your libraries
import pandas as pd

#Make copy of DataFrame
df = twitch_sessions.copy()
#Rank sessions by session start time
df['rank'] = df.groupby('user_id', as_index = True)['session_start'].rank('first')
#Sort by uid, rank
df.sort_values(['user_id', 'rank'])
#Get rows containing first sessions
temp_df = df[df['rank'] == 1]
#From first sessions get rows where first session is viewer, make list of uids
uids = temp_df[temp_df['session_type'] == 'viewer']['user_id'].to_list()
#Check original dataframes where uid is in list of desired uids
output = df[df['user_id'].isin(uids)]
#Group by uid and count number of sessions
output.groupby('user_id', as_index = False)['session_id'].count()

### PROBLEM: Top 5 States With 5 Star Businesses
Find the top 5 states with the most 5 star businesses. Output the state name along with the number of 5-star businesses and order records by the number of 5-star businesses in descending order. In case there are ties in the number of businesses, return all the unique states. If two states have the same result, sort them in alphabetical order.

Tables: `yelp_business`

`yelp_business` | dtypes
----------------|---------
business_id     | varchar
name            | varchar
neighborhood    | varchar
address         | varchar
city            | varchar
state           | varchar
postal_code     | varchar
latitude        | float
longitude       | float
stars           | float
review_count    | int
is_open         | int
categories:     | varchar

[Link to problem](https://platform.stratascratch.com/coding/10046-top-5-states-with-5-star-businesses)

In [ ]:
%%sql
WITH cte AS(SELECT state, num_five_star, RANK() OVER(ORDER BY num_five_star DESC) AS state_rank
        FROM (SELECT state, COUNT(stars) AS num_five_star
            FROM yelp_business
            WHERE stars = 5
            GROUP BY state) temp
        ORDER BY state_rank, state)
SELECT state, num_five_star AS n_businesses
FROM cte
WHERE state_rank <=5

In [ ]:
# Import your libraries
import pandas as pd

# Select only businesses with 5 star reviews
df = yelp_business[yelp_business['stars'] == 5]
# Group 5 star businesses by state and count
output = df.groupby('state', as_index=False)['stars'].count()
# Rank states by number of 5 star businesses, descending to get most 5 star businesses
output['rank'] = output['stars'].rank(method='min', ascending=False)
# Limit to top 5 ranks including ties
output = output[output['rank'] <= 5]
# Sort values by rank and state, both ascending
output = output.sort_values(['rank', 'state'])